div#test
{ 
	border:white 20px groove;
	padding:10px 40px 40px 40px;
	margin-top: 80px;
    margin-bottom: 40px;
    margin-right: 250px;
	
}
	
body
{
	background-image: url("../img/LivWall.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	background-size: 1300px 1000px;
	padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 200px;
}
#test_status
{
	color: white;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 50px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	
}
#time
{
	color: white;
	font size: 30px;
	margin-top: 10px;
}
.quizquestions
{
	color: white;
	font-size: 20px;
}

